body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/Assests/Contact_us_image.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(129, 101, 155);
}

*{
    box-sizing: border-box;
}
#Contact{
    width: 700px;
    background-color: rgb(196, 43, 170);
    backdrop-filter: blur(6px);
    font-weight: bold;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    gap: 20px;
    padding: 20px;
}

#Contact_info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    color: pink;
}

#Contact_info input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.808);
}

#Contact_info textarea {
    font-size: 20px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.788);
}

#Contact_info button{
    border: 1px solid hsl(271, 50%, 48%);
    border-radius: 5px;
    width: 100px;
    background-color: hsl(271, 50%, 48%);
    color: pink;
    padding: 10px;
}
