body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(purple,rgb(128, 57, 128),blue);
    min-height: 100vh;
}

form{
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    gap: 5px;
    background-color: white;
}

form input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
form #Remeber_btn{
    display: flex;
    gap: 5px;
    color: gray;
    font-size: 12px;
    margin: 10px 0;
}

form #Sign_in_link{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

a{
    padding-top: 11px;
    font-size: 11px;
}