body{
    font-family: 'Poppins',sans-serif;
    background-color: blueviolet;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "box-1 box-1"
        "box-2 box-3"
        ". box-4";
}



#Top_Side_bar{
    img
    {
        border-radius: 15px;
    }
    backdrop-filter: blur(20px);
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

#Top_Side_bar #Sign_Login{
    a{
        color: white;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#Top_Side_bar div:hover,
#Sign_Login a:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: cyan;
}


#Description_Card{
    h1{
        font-size: 35px;
        font-weight: 600;
    }
    p{
        font-size: 15px;
        line-height: 1.5;
    }
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

#image_page img{
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

#Icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 19px;
    position: fixed;
    right: 40px;
    bottom: 30px;
}
#Icons img {
    width: 45px;
    transition: 0.3s;
}
#Icons img:hover {
    transform: scale(1.15);
}

@media all and (max-width: 500px) {
.p-c {
width: 17em;
}
.project-card{
width: 17em;
}
.welcome{
height: 50vh;
}
.nav-item{
width: 100%;
}
.about-overflow{
padding-right: 10px;
padding-left: 5px;
flex-flow: column nowrap;
align-content: center;
align-items: center;
justify-items:space-around;
}
}